* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h2 {
  color: white;
  font-size: 100px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.form {
  padding: 100px 100px;
  background-color: orange;
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  border: 10px dashed orangered
}

.form input{
  border-radius: 50%;
  background-color: red;
  height: 40px;
  color: green;
  font-size: 2pt;
  font-weight: bolder;
  width: 50px;
}

p{
  color: green;
}